.title {
  color: $SHADOW-RITE;
  font-weight: 700;
  line-height: 1.3;

  &-h1 {
    font-size: 32px;
  }

  &-h2 {
    font-size: 24px;
  }

  &-h3 {
    font-size: 18px;
  }
}

.subTitle {
  color: $SHADOW-RITE;
  font-weight: 300;
  line-height: 1.3;
  font-size: 14px;
}
