@use 'variables' as *;

// Миксин для медиа-запросов
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

// Миксин для flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
