header.header
  .container.header_container
    +Burger({fn: 'mobile-menu'})
    +Logo()
    +TopicMobile()
    +Search({})
    .header_actions
      +Btn(`Лучшие карты`, ['grad', 'rounded', 'lg', 'f18'])
      +Btn(`Войти`, ['default', 'rounded', 'lg', 'f18'])

