header.header
  .container.header_container
    +Burger({fn: 'mobile'})
    +Logo()
    +TopicMobile()
    +Search()
    .header_actions
      +BtnPrime({text: 'Лучшие карты', mode: 'grad', br: true})
      +BtnLink({text: 'Войти', br: true})

